<div class="ph-skeleton ph-skeleton--product">
  <div class="ph-skeleton ph-skeleton--image"></div>
  <div class="ph-skeleton ph-skeleton--heading"></div>
  <div class="ph-skeleton ph-skeleton--text"></div>
  <div class="ph-skeleton ph-skeleton--text ph-skeleton--text-short"></div>
</div>
