<div class="ph-skeleton ph-skeleton--section">
  <div class="ph-skeleton ph-skeleton--heading"></div>
  <div class="ph-skeleton ph-skeleton--text"></div>
  <div class="ph-skeleton ph-skeleton--text ph-skeleton--text-short"></div>
  <div class="ph-skeleton ph-skeleton--text"></div>
  <div class="ph-skeleton ph-skeleton--text ph-skeleton--text-short"></div>
  <div class="ph-skeleton ph-skeleton--image" style="padding-bottom: 50%;"></div>
</div>
